body {
    font-size: 16px;
    font-family: Microsoft JhengHei, Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: 1.4;
}

.App {
    text-align: center;
}

.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    background-color: #346B89;
}

.leftProfile,
.rightInfoSection {
    width: 100%;
}

.leftProfile {
    background-color: #346B89;
}

.rightInfoSection {
    background-color: #fff;
    color: #000;
}

.footer {
    background-color: #282c34;
    color: #fff;
    padding: 16px 0;
}

@media all and (min-width: 768px) {
    .main {
        flex-direction: row;
        justify-content: center;
    }
    .leftProfile,
    .rightInfoSection {
        min-height: 100vh;
    }
    .leftProfile {
        width: 30%;
    }
    .rightInfoSection {
        text-align: left;
        flex: 1 1 auto;
        padding: 0 24px;
    }
}
