.user section {
    padding: 0 8px;
}

.user section + section {
    border-top: 3px solid #fff;
    padding-bottom: 16px;
}

.avatarContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}

.avatar {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
}

.lists {
    margin-bottom: 8px;
}

.lists a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
}

.lists i {
    margin-right: 4px;
}

.lists img {
    width: 20px;
    height: 20px;
}

.icon {
    width: 29px;
    height: 29px;
    padding: 2px;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.code {
    display: flex;
    justify-content: center;
}

.codeList {
    margin-right: 8px;
}
